{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>

<script>
    const apiRegisterUrl = "{% url 'api-register' %}";
</script>

<form id="registerForm" onsubmit="registerUser(event)">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">Register</button>
    <p>Already have an account? <a href="{% url 'login' %}"> Login here</a></p>
</form>

<script src="{% static 'js/register.js' %}"></script>
{% endblock %}